<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi proyecto</title>
</head>

<body>
    <div th:fragment="header">
        <header>
            <nav>
                <h1>Las camisetas hermanas</h1>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productos">Comprar</a></li>
                    <li><a href="/carro">Carrito</a></li>
                    <li th:if="${currentUser == null}"><a href="/login">Login</a></li>
                    <li th:if="${currentUser != null}">
                        <form th:action="@{/logout}" method="post" style="display:inline">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div th:fragment="footer">
        <footer>
            <ul>
                <li><a href="/ayuda">Ayuda</a></li>
                <li><a href="/acerca">Acerca de</a></li>
            </ul>
            <div th:if="${currentUser != null}">
                <p>Logueado como: <strong th:text="${currentUser}">usuario</strong></p>
            </div>

            <p>© 2025 Mi proyecto</p>
        </footer>
    </div>
</body>

</html>