# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDEs
.vscode/

# Docs que no quieres subir
docs/Libro.pdf

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak

# Dependencias locales de Maven (opcional, normalmente no se suben)
# .m2/repository/

# Archivos compilados de Java
*.class
