version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: SpringCamisetas
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: camisetas
      MYSQL_DATABASE: springdb-camisetas
      MYSQL_USER: camisetas_user
      MYSQL_PASSWORD: camisetas_pass
      
    ports:
      - "33306:3306"   # NAT: puerto real 33306 → puerto del contenedor 3306
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - spring-net

  adminer:
    image: adminer
    container_name: adminer-spring
    restart: always
    ports:
      - "8181:8080"   # NAT: puerto real 8181 → puerto del contenedor 8080
    networks:
      - spring-net

networks:
  spring-net:

volumes:
  mysql_data:
