<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar dirección</title>
</head>
<body>
  <div th:insert="~{../../fragmentos/general.html :: header}"></div>
  <main>
    <h2>Editar dirección</h2>
    <form th:action="@{/admin/usuarios/{idUser}/direcciones/{idTel}/edit(idUser=${usuario.id},idTel=${telefono.id})}" method="post" th:object="${telefono}">
      <label>Número:</label>
      <input type="number" th:field="*{numero}" required /><br/>
      <label>Código país:</label>
      <input type="number" th:field="*{codigoPais}" /><br/>
      <button type="submit">Guardar</button>
    </form>
  </main>
  <div th:insert="~{../../fragmentos/general.html :: footer}"></div>
</body>
</html>
